@model SimpleShop.Models.Product

@{
    ViewData["Title"] = "Edit Product";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        @if (ViewData["Categories"] == null || !(ViewData["Categories"] as SelectList)?.Any() == true)
        {
            <div class="alert alert-warning">Brak dostępnych kategorii. Proszę dodać kategorię przed edytowaniem produktu.</div>
        }
        else
        {
            <select asp-for="CategoryId" class="form-control" asp-items="@(ViewData["Categories"] as SelectList)">
                <option value="">Wybierz kategorię</option>
            </select>
        }
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a href="@Url.Action("Index", "Products")">Back to List</a>

